
<%- include("partials/header"); -%>














    <h1>News</h1>
    

  <%  posts.forEach(function(post){ %>

    <li><%=post.title%></li>
    <p>
    <%=post.content%>
    <a href="/posts/<%=post._id%>">Read More</a>
    </p>


    <% }) %>


<%- include("partials/footer"); -%>
